.toolbar {
  composes: ds-toolbar from global;
  display: flex;
  flex-wrap: wrap;
  gap: var(--xe-space-3);
  align-items: flex-start;
  justify-content: space-between;
}

.group {
  composes: ds-toolbar-group from global;
  display: flex;
  flex-wrap: wrap;
  gap: var(--xe-space-3);
  flex: 1 1 auto;
  align-items: flex-start;
}
